extends layout

block content
	div.main
		section.intro
			div.name H. DAVID ZHU
			div.info huanzhen.zhu@students.olin.edu | 432-202-9872
			div.button#about ABOUT
			div.button#resume RESUME
			div.button#portfolio PORTFOLIO
		section.aboutpage
			div.title ABOUT
			div.left
				div.picture
					img(src="/images/profile.png")
				div.summary
					p 
					b ENGINEERING IN DESIGN AND ENTREPRENEURSHIP
					p I love creating solutions that make people’s lives better. 
					p Because of this, I balance between both software and hardware backgrounds.
			div.divisionline
			div.projectbox