extends layout

block content
	div.main
		section.full
			div.name H. DAVID ZHU
			div.info huanzhen.zhu@students.olin.edu | 432-202-9872
			div.button ABOUT
			div.button RESUME
			div.button PORTFOLIO
		section.test
			p a;ljds;lajsdl;ajfl;jaksdfl;kjasf;ljafs